@charset "utf-8";

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro', Roboto, 'Droid Sans',
               'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#map {
  width: 100%;
  height: 80vh;
}
